<div class="flex flex-row overflow-x-scroll">
  {{#each this.classGroups as |classGroup|}}
    <Toggles
      @label={{classGroup.label}}
      @valid={{classGroup.valid}}
      @options={{classGroup.options}}
      @onToggle={{fn this.toggleRadio classGroup}}
    />
  {{/each}}
  {{log this.selected}}

</div>

<Parent @selected={{this.selected}}>
  <Child>01</Child>
  <Child>02</Child>
  <Child>03</Child>
</Parent>

<Parent @selected={{this.selected}} @type="grid">
  <Child>01</Child>
  <Child>02</Child>
  <Child>03</Child>
</Parent>