<div class="overflow-x-scroll w-full">
  <div class="flex flex-row gap-4">
    {{#each this.classGroups as |classGroup|}}
      <Toggles
        @classGroup={{classGroup}}
        @label={{classGroup.label}}
        @valid={{classGroup.valid}}
        @options={{classGroup.options}}
        @onToggle={{fn this.toggleRadio classGroup}}
      />
    {{/each}}
  </div>
</div>


<Parent @selected={{this.selected}} @type="flex">
</Parent>

<Parent @selected={{this.selected}} @type="grid">
</Parent>