<div class="flex flex-row overflow-x-scroll">
  {{#each this.classGroups as |classGroup|}}
    <Toggles
      @label={{classGroup.label}}
      @valid={{classGroup.valid}}
      @options={{classGroup.options}}
      @onToggle={{fn this.toggleRadio classGroup.id}}
    />
  {{/each}}
  {{!-- <FormRadioGroup
    @label="Justify Content"
    @value={{this.justifyContent}}
    @onChange={{fn (mut this.justifyContent)}}
    as |Radio|
  >
    <Radio @value="" @label="none" />
    <Radio @value="justify-start" @label="justify-start" />
    <Radio @value="justify-end" @label="justify-end" />
    <Radio @value="justify-center" @label="justify-center" />
    <Radio @value="justify-between" @label="justify-between" />
    <Radio @value="justify-around" @label="justify-around" />
    <Radio @value="justify-evenly" @label="justify-evenly" />
  </FormRadioGroup>

  <FormRadioGroup
    @label="Justify Items"
    @value={{this.justifyItems}}
    @onChange={{fn (mut this.justifyItems)}}
    as |Radio|
  >
    <Radio @value="" @label="none" />
    <Radio @value="justify-items-start" @label="justify-items-start" />
    <Radio @value="justify-items-end" @label="justify-items-end" />
    <Radio @value="justify-items-center" @label="justify-items-center" />
    <Radio @value="justify-items-stretch" @label="justify-stretch" />
  </FormRadioGroup> --}}
</div>

<Parent @classes="{{this.parentClasses}}">
  <Child>01</Child>
  <Child>02</Child>
  <Child>03</Child>
</Parent>

<Parent @classes="{{this.parentClasses}}" @type="grid">
  <Child>01</Child>
  <Child>02</Child>
  <Child>03</Child>
</Parent>